/*-- scss:defaults --*/


//
// Color system
//

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #aea79f !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #333 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$blue:    #007bff !default;
$indigo:  #671164 !default;
$purple:  #952EA0 !default;
$pink:    #D44292 !default;
$red:     #F66D7A !default;
$orange:  #F6A87A !default;
$yellow:  #efb73e !default;
$green:   #38b44a !default;
$teal:    #20c997 !default;
$cyan:    #6284a2 !default;

$primary:       $indigo !default;
$secondary:     $gray-500 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $orange !default;
$danger:        $red !default;
$light:         $gray-200 !default;
$dark:          $yellow !default;

$min-contrast-ratio:   1.8 !default;

// Body

$body-color:                $gray-800 !default;


/*-- scss:rules --*/


// Variables

$web-font-path: "https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap" !default;
@if $web-font-path {
  @import url($web-font-path);
}

// Indicators

.badge {
  &.bg-light {
    color: $body-color;
  }
}

/* css styles */
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
.styled {
  font-size: 12px;
}

#btn1 {
  background-color: #efb73e;
}

